div.contenitore { 
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
img{
    display:block;
    float:right;
}

h1{
    font-size : 100px;
}

p{
    background-color: rgb(255, 255, 0);
    font-size:50px;
 
    font-style: oblique;
    
}
body{
    background-color: rgb(255, 255, 132)
}