h1{
    text-align: center;
    font-family: "Comic Sans MS";
    color: black;
}

hr{
    height:1.5em;
    background-color: rgb(228, 158, 170);
}
div.contenitore{
    
        width: 1200px;
        height: 400px;
        margin: 0 auto;
    }

    ul{
        width : 350px;
        height: 100px;
        margin-left: 50px;
        margin-right: 250px;
        float:left;
        font-style: italic;
        font-size: 1.2em;
    }
    img{
        display:block;
        float:right;
    }
    body{
        background-color: rgb(243, 217, 222);
    }